.slider {
    height: 100%;
    width: 100%;
    position: relative;
}

.imagesContainer {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.images {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    transition: 0.4s ease-in;
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s ease-in;
}

.fade .image {
    position: absolute;
    top: 0;
    left: 0;
}

.fade .images {
    display: block;
}