.container {
    margin-top: 30px;
    margin-bottom: 50px;
}

.container h1, .container h2, .container h3, .container h4 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.container thead {
    background-color: #FA6166;
}
.container th {
    font-weight: 600;
    color: white;
}
.container td {
}
.container td span {
    display: block;
}

.container td span:not(:last-child) {
    margin-bottom: 10px;
}

.container pre {
    margin-bottom: 40px;
}