.sliderSettings {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.settingsPaper {
    padding: 20px;
    margin-bottom: 40px;
}

.settingsPaper > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
}

.sliderImages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.sliderImages > div {
    height: 50px;
    position: relative;
}

.sliderImages > div > *:last-child {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    cursor: pointer;
}

.sliderImages > div:hover > *:last-child {
    visibility: visible;
}

.sliderImages > div > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}